<!DOCTYPE html>
<html lang="">
    <head>
        <title> Match Requested </title>
        <script src="../static/scripts/main.js">
    </script>
        <link rel="stylesheet" type="text/css" href="../static/styles/register.css"/>
    </head>

    <body>
        <div>
            <h1>You've requested the match. An email has been sent to your opponent letting them know.</h1>
            <p>To view the status of your request, click on the 
                "View pending invitations and sent requests" button on the profile page</p>
            <p>You can now close this window and return to the main page</p>
        </div>
    </body>
</html>