<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> 

        <!-- ==== BOX ICONS ===== -->
        <script src="https://kit.fontawesome.com/db6a3a4fde.js" crossorigin="anonymous"></script>

        <!-- ==== CSS =====-->
        <link rel = "stylesheet" href = "../static/styles/dashboard.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous">

 
        <title> Admin menu responsive </title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <!---->
            <div class="header__toggle">
                <i class='fas fa-layer-group' id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="../static/avatar/001-man.png" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
                <nav class="nav">
                    <div>
                        <a href="#" class="nav__logo">
                            <i class="fas fa-dice nav__logo-icon"></i>
                            <span class="nav__logo-name"> 3PM </span>
                        </a>

                        <div class = "nav__list">
                            <a href="#" class="nav__link active">
                            <i class="fas fa-home nav__icon"> </i>
                                <span class="nav__name">Home </span>
                            </a>

                            <a href="#" class="nav__link">
                                <i class="fas fa-user nav__icon"></i>
                                <span class="nav__name">Users </span>
                            </a>

                            <a href="#" class="nav__link">
                                <i class="fas fa-gamepad nav__icon"></i>
                                <span class="nav__name">Games </span>
                            </a>

                            <a href="#" class="nav__link">
                                <i class="fas fa-flag-checkered nav__icon"></i>
                                <span class="nav__name"> Matches </span>
                            </a>
                        </div>
                    </div>
                    
                    <a href="#" class="nav__link">
                        <i class="fas fa-sign-out-alt nav__icon"></i>
                        <span class="nav__name"> Logout </span>
                    </a>
            </nav>
        </div>

        <!--===== WIDGETS =====-->
        <div>
            <div class = "section_header">
                <h1 class = "section_title"> Users </h1>
                <a href = "/admin_users" class = "section_link"> View all </a>
            </div>

            <span class = "card-wrapper">
                <div class="user-card">
                    <div class="float-right">
                        <img src="../static/avatar/010-woman.png" alt="">
                    </div>
                    <h1> Jedidiah </h1>
                    <p> Wins: 45 </p>
                </div>
            </span>

            <div class = "card-wrapper">
                <div class="user-card">
                    <div class="float-right">
                        <img src="../static/avatar/005-man.png" alt="">
                    </div>
                    <h1> Tirzah </h1>
                    <p> Wins: 3 </p>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>

        <div>
            <div class = "section_header">
                <h1 class = "section_title"> Games </h1>
                <a href = "/admin_games" class = "section_link"> View all </a>
            </div>
            <div class = "card-wrapper">
                <div class="user-card">
                    <div class="wheather-icon sun"></div>
                    <h1> Super Mario Kart </h1>
                    <p> Number of plays: 1124 </p>
                </div>
            </div>

            <div class = "card-wrapper">
                <div class="user-card">
                    <div class="weather-icon cloud"></div>
                    <h1> Mortal Kombat </h1>
                    <p> Number of plays: 4040</p>
                </div>
            </div>
        </div>

        <div>
            <div class = "section_header">
                <h1 class = "section_title"> Matches </h1>
                <a href = "/admin_matches" class = "section_link"> View all </a>
            </div>

            <div class = "card-wrapper">
                <div class="matches-card">
                    <div class="matches_icon_left">
                        <img src="../static/avatar/001-man.png" alt="">
                    </div>
                    <div id = "one" class = "left_box">
                        <h1 style = "float: right;"> Dark Tape Demos: 0 &nbsp; </h1>
                        <p style = "float: right;"> Wins: 12 Losses: 14 &nbsp; </p>
                    </div>
                
                    <div id = "two" class = "smaller_box">
                        <h1 style = "float: right;"> vs </h1>
                    </div>

                    <div id = "three" class = "right_box">
                        <h1 style = "float: left;"> &nbsp; 0 : Certified Lover Boy </h1>
                        <p style = "float: left;"> &nbsp; Wins: 24 Losses: 11 </p>
                    </div>

                    <div class="matches_icon_right">
                        <img src="../static/avatar/010-woman.png" alt="">
                    </div>
                
                    <div id = "four" class = "under_box">
                        <p style = " text-align: center; margin-top:5px;"> Game: Mortal Kombat </p>
                    </div>
                </div>
            </div>
            <div class = "card-wrapper">
                <div class="matches-card">
                    <div class="matches_icon_left">
                        <img src="../static/avatar/011-woman.png" alt="">
                    </div>
                    <div id = "one" class = "left_box">
                        <h1 style = "float: right;"> Dank Meme Demos: 0 &nbsp; </h1>
                        <p style = "float: right;"> Wins: 11 Losses: 24 &nbsp; </p>
                    </div>
                
                    <div id = "two" class = "smaller_box">
                        <h1 style = "float: right;"> vs </h1>
                    </div>

                    <div id = "three" class = "right_box">
                        <h1 style = "float: left;"> &nbsp; 0 : Kiss Sour Melons </h1>
                        <p style = "float: left;"> &nbsp; Wins: 1 Losses: 4 </p>
                    </div>

                    <div class="matches_icon_right">
                        <img src="../static/avatar/012-woman.png" alt="">
                    </div>
                
                    <div id = "four" class = "under_box">
                        <p style = " text-align: center; margin-top:5px;"> Game: Street Fighters </p>
                    </div>
                </div>
            </div>

            <div class = "card-wrapper">
                <div class="matches-card">
                    <div class="matches_icon_left">
                        <img src="../static/avatar/013-woman.png" alt="">
                    </div>
                    <div id = "one" class = "left_box">
                        <h1 style = "float: right;"> Certified Lover Girl: 0 &nbsp; </h1>
                        <p style = "float: right;"> Wins: 11 Losses: 24 &nbsp; </p>
                    </div>
                
                    <div id = "two" class = "smaller_box">
                        <h1 style = "float: right;"> vs </h1>
                    </div>

                    <div id = "three" class = "right_box">
                        <h1 style = "float: left;"> &nbsp; 0 : Certified Lover Boy </h1>
                        <p style = "float: left;"> &nbsp; Wins: 11 Losses: 24 </p>
                    </div>

                    <div class="matches_icon_right">
                        <img src="../static/avatar/014-woman.png" alt="">
                    </div>
                
                    <div id = "four" class = "under_box">
                        <p style = " text-align: center; margin-top:5px;"> Game: Tekken </p>
                    </div>
                </div>
            </div>

            <div class = "card-wrapper">
                <div class="matches-card">
                    <div class="matches_icon_left">
                        <img src="../static/avatar/015-woman.png" alt="">
                    </div>
                    <div id = "one" class = "left_box">
                        <h1 style = "float: right;"> Certified Lover Girl: 0 &nbsp; </h1>
                        <p style = "float: right;"> Wins: 11 Losses: 24 &nbsp; </p>
                    </div>
                
                    <div id = "two" class = "smaller_box">
                        <h1 style = "float: right;"> vs </h1>
                    </div>

                    <div id = "three" class = "right_box">
                        <h1 style = "float: left;"> &nbsp; 0 : King Kong's lover </h1>
                        <p style = "float: left;"> &nbsp; Wins: 11 Losses: 24 </p>
                    </div>

                    <div class="matches_icon_right">
                        <img src="../static/avatar/016-woman.png" alt="">
                    </div>
                
                    <div id = "four" class = "under_box">
                        <p style = " text-align: center; margin-top:5px;"> Game: Super Smash Bros. </p>
                    </div>
                </div>
            </div>

        <!--===== MAIN JS =====-->
        <script src="../static/scripts/admin.js"></script>
    </body>
</html>