<!DOCTYPE html>
<html lang="">
    <head>
        <title> Icon </title>
        <link rel="stylesheet" type="text/css" href="../static/styles/icon.css"/>
        <script src="../static/scripts/icon.js"></script>
    </head>

    <body>
        <div class="container">
            <div>
                <img src="../static/userIcon/black.png" width="25%" height="25%" id="Uicon">
            </div>
            <div id="Ilist">
                <button class="icons" id="black" style=" background-color: black;"> </button>
                <button class="icons" id="Blue" style=" background-color: #0094FF;"> </button>
                <button class="icons" id="darkBlue" style=" background-color: #0026FF;"> </button>
                <button class="icons" id="gray" style=" background-color: #808080;"> </button>
                <button class="icons" id="green" style=" background-color: #4cff00;"> </button>
                <button class="icons" id="lightBlue" style=" background-color: #00FFFF;"> </button>
                <button class="icons" id="lightGreen" style=" background-color: #B6FF00;"> </button>
                <button class="icons" id="orange" style=" background-color: #FF6A00;"> </button>
                <button class="icons" id="pink" style=" background-color: #FF006E;"> </button>
                <button class="icons" id="purple" style=" background-color: #B200FF;"> </button>
                <button class="icons" id="red" style=" background-color: red;"> </button>
                <button class="icons" id="yellow" style=" background-color: #ffd800;"> </button>
                
                
            </div>
        </div>
       
    </body>
</html>