<!DOCTYPE html>
<html lang="en-us"><head>
    <meta charset="utf-8">

    <title>Third-Party Matchmaking</title>
    <script src="../scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css"/>
    
  </head>

  <body>
    <!-- Main header, common across all pages -->
    <header>
      <!-- <div class="flex-container" id="title-profile"> -->
        <a href="../profilepage"><img id="profile" src="../avatar/001-man.png"></a>
        <h1 id="title">Third-Party Game Matchmaking</h1>
      <!-- </div> -->
      <!-- Common practice to put the main navigation menu within the main header -->
      <div id="nav-bar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="game1"><button id="g1btn" class="game-btn" type="submit">Game 1</button></li>
          <li id="game2"><button id="g2btn" class="game-btn" type="submit">Game 2</button></li>
          <li id="game3"><button id="g3btn" class="game-btn" type="submit">Game 3</button></li>
          <li id="game4"><button id="g4btn" class="game-btn" type="submit">Game 4</button></li>
        </ul>
      </nav>
    </header>

    <div>

          <!-- the aside content can also be nested within the main content -->
      <aside>
        <h2>Leaderboard</h2>

        <ul>
          <li>User1</a></li>
          <li>User2</a></li>
          <li>User3</a></li>
        </ul>
      </aside>

      <!-- An article -->
      <main>

        <h2>Be matched up with an opponent!</h2>
        <h4>Steps:</h4>
        <ol>
            <li>Select which game you want to play from the menu bar</li>
            <li>Click "Request Matchup" button</li>
            <li>View Matchup and "Accept" or "Decline"</li>
            <li>Enjoy!</li>
        </ol>

        <button id="match-btn" type="button">REQUEST MATCHUP</button>
 
      </main>

    </div>

    <!-- Footer, common across all pages
    <footer>
      <p>Copyright 2050 by nobody. All rights reserved.</p>
    </footer> -->

  
</body></html>