<!DOCTYPE html>
<html lang="en-us"><head>
    <meta charset="utf-8">

    <title>Third-Party Matchmaking</title>
    <script src="../static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css"/>
    
  </head>

  
  <body>
    <!-- Main header, common across all pages -->
    <header>
      <!-- <div class="flex-container" id="title-profile"> -->
        <div>
        <a href="../profilepage">
          <img id="profile" src="../static/userIcon/{{ profileData.icon }}">
        </a>
        <a href="../signin">Log out</a>
        </div>
        <h1 id="title">Third-Party Game Matchmaking</h1>
      <!-- </div> -->
      <!-- Common practice to put the main navigation menu within the main header -->
      <div id="nav-bar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="game1"><button id="g1btn" class="game-btn" type="submit">Game 1</button></li>
          <li id="game2"><button id="g2btn" class="game-btn" type="submit">Game 2</button></li>
          <li id="game3"><button id="g3btn" class="game-btn" type="submit">Game 3</button></li>
          <li id="game4"><button id="g4btn" class="game-btn" type="submit">Game 4</button></li>
        </ul>
      </nav>
    </header>

    <div>

          <!-- the aside content can also be nested within the main content -->
      <aside>
        <h2>Leaderboard</h2>

        <ul>
          <li>User1</a></li>
          <li>User2</a></li>
          <li>User3</a></li>
        </ul>
      </aside>

      <!-- An article -->
      <main>

        <div class="Game1" id="Tab1" style="display: none;">
          <h2>Game 1 - ~~~~ </h2>
          <h4>Rules:</h4>
          <ol>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
          </ol>
          <button class="match-btn" id="match-btn1"  type="button">REQUEST MATCHUP</button>
        </div>

        <div class="Game2" id="Tab2" style="display: none;">
          <h2>Game 2 - ~~~~ </h2>
          <h4>Rules:</h4>
          <ol>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
          </ol>
          <button class="match-btn" id="match-btn2" type="button">REQUEST MATCHUP</button>
        </div>

        <div class="Game3" id="Tab3" style="display: none;">
          <h2>Game 3 - ~~~~ </h2>
          <h4>Rules:</h4>
          <ol>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
          </ol>
          <button  class="match-btn" id="match-btn3" type="button">REQUEST MATCHUP</button>
        </div>

        <div class="Game4" id="Tab4" style="display: none;">
          <h2>Game 4 - ~~~~ </h2>
          <h4>Rules:</h4>
          <ol>
            <li>....</li>
            <li>....</li>
            <li>....</li>
            <li>....</li>
          </ol>
          <button class="match-btn" id="match-btn4" type="button">REQUEST MATCHUP</button>
        </div>
        
        
        <h2>Be matched up with an opponent!</h2>
        <h4>Steps:</h4>
        <ol>
            <li>Select which game you want to play from the menu bar</li>
            <li>Click "Request Matchup" button</li>
            <li>View Matchup and "Accept" or "Decline"</li>
            <li>Contact your opponent by email to schedule</li>
            <li>Have fun playing!</li>
        </ol>

      </main>

    </div>

  
</body></html>