<!DOCTYPE html>
<html lang="en-us"><head>
    <meta charset="utf-8">

    <title>Third-Party Matchmaking</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
  </head>

  <body>
    <!-- Main header, common across all pages -->
    <header>
      <h1>Third-Party Game Matchmaking</h1>
      <!-- Common practice to put the main navigation menu within the main header -->
      <nav>
        <ul>
          <li id="game1"><a href="#">Game 1</a></li>
          <li id="game2"><a href="#">Game 2</a></li>
          <li id="game3"><a href="#">Game 3</a></li>
          <li id="game4"><a href="#">Game 4</a></li>
        </ul>
      </nav>
    </header>

    <div>

          <!-- the aside content can also be nested within the main content -->
      <aside>
        <h2>Leaderboard</h2>

        <ul>
          <li>User1</a></li>
          <li>User2</a></li>
          <li>User3</a></li>
        </ul>
      </aside>

      <!-- An article -->
      <main>

        <h2>Be matched up with an opponent!</h2>
        <h4>Steps:</h4>
        <ol>
            <li>Select which game you want to play from the menu bar</li>
            <li>Click "Request Matchup" button</li>
            <li>Enjoy!</li>
        </ol>

        <button type="button">REQUEST MATCHUP</button>
 
        <h2>Article heading</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.</p>

        <h3>subsection</h3>

        <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>

        <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>

        <h3>Another subsection</h3>

        <p>Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum soclis natoque penatibus et manis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

        <p>Vivamus fermentum semper porta. Nunc diam velit, adipscing ut tristique vitae sagittis vel odio. Maecenas convallis ullamcorper ultricied. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, is fringille sem nunc vet mi.</p>
      </main>

    </div>

    <!-- Footer, common across all pages -->
    <footer>
      <p>Copyright 2050 by nobody. All rights reserved.</p>
    </footer>

  
</body></html>