<!DOCTYPE html>
<html lang="">
    <head>
        <title> Matchup </title>
        <script src="../static/scripts/main.js">
            // let acc = document.getElementById("AcceptedRequest");
            // let dec = document.getElementById("DeclinedRequest");
            // acc.addEventListener("click", function(){
            //     document.close();
            // });
            // dec.addEventListener("click", function(){
            //     document.close();
            // });
    </script>
    <!-- <script src="../static/scripts/AJAXmatchup.js"></script> -->
        <link rel="stylesheet" type="text/css" href="../static/styles/register.css"/>
    </head>

    <body>
        <div>
            <h1>You've been matched with...</h1>
        </div>
        
        <div>
        Username: {{ opponentData[0] }} <br>
        Email: {{ opponentData[1] }} <br>
        Performance Rating: {{ opponentData[2] }} <br>
        </div>

        <form action = "/matchaccepted/" method = "POST">
        <input type="hidden" name="opponent-username" id="opponent-username" value="{{ opponentData[0] }}">
        <input type="hidden" name="current-username" id="current-username" value="{{ currUserData.username }}">
        <input type="hidden" name="gametype" id="gametype" value="{{ gametype }}">
        

            <button class="matchupbtn" id ="AcceptedRequest" type="submit">Accept</button> <br>
        </form>
        <form action="/matchdeclined/" method ="POST">
            <button class="matchupbtn" id ="DeclinedRequest" type="submit" >Decline</button>
        </form>
    </body>
</html>