<!DOCTYPE html>
<html lang="">
<head>
<title>My Profile</title>
    <script src="../static/scripts/profile.js"></script>
    <script src="../static/scripts/AJAXmatchup.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/profile.css"/>
</head>

<header> 
    <button id="returntomain"><a href="/mainpage/">Return to Main page</a></button>
</header>
<body>
    <div class="profile">
        <!--Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" 
            title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" 
            title="Flaticon"> www.flaticon.com</a> -->
        <img src="../static/userIcon/{{ profileData.icon }}" width="150px" height="150px" >
        <br>
        <a href="../editprofile"><button id="profileIcons">Edit profile</button></a>
        <h1 id="username">{{ profileData.username }}</h1>
        <h2>Name: {{ profileData.name }}</h2>
        <h2>Email: {{ profileData.email }}</h2>
        <button id="inboxbtn"> <a href="/inbox/">View pending invitations and sent requests</a></button> 
    </div>
    
    
    <div class="generalInfo">
     
        
        <div>
            <div class="tab">
                {% for g in gameslst %}
                <button class="tablinks" onclick="gamesTab(event,'{{g}}')">{{g}}</button>
                {% endfor%}
            </div>
            {% for g in gameslst %}
            <div id="{{g}}" class="recordInfo">

                <h2>Current Rating: {{ gameStats[g].performance}}</h2>
                <h3>Win: {{ gameStats[g].wins }}   Loss: {{ gameStats[g].losses }}</h3>
               
                <!-- ******************************************* -->
                
                
                {% if not gamesRecords[g]%}
                    <button id="{{g}}" disabled>Update Record</button>
                    <p>No Record!!!</p>
                    <p>No Games registered</p>
                
                {% else %}
                    <button id="{{g}}"class="recordBtn">Update Record</button>
                {% endif %}

                <div class="table">
                <table id="recordTable{{g}}" class="recordTable">
                   
                {% for match in gamesRecords[g] %}
                    <tr>
                        <th colspan="4">
                            <p>{{match.username}}</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img src="../static/userIcon/{{match.icon}}" width="50px" height="50px">
                        </td>

                    <form action = "/profilepage/" method = "POST">
                        {% if match.response == 0 %}
                        <td>
                            <input type="hidden" name="game" value="{{g}}">
                            <input type="hidden" name="matchId" value="{{match.id}}">
                            <input type="hidden" name="user" value="{{match.user}}">
                            <input type="radio" name="result" value="{{match.c_username}}">
                            <label>Win</label><br>
                            <input type="radio" name="result" value="{{match.username}}">
                            <label>Loss</label>
                            
                            <input type="hidden" name="opponent" value="{{match.username}}">
                        </td>
                        <td>
                            <input type="radio" name="result" value="NeverPlayed">
                            <label>Never Played</label><br>
                            <!-- <input type="checkbox" name="cancel" value="NeverPlayed">
                            <label>Never Played</label> -->
                        </td>
                        <td><button type="submit" formmethod="post" name="submitRecord" >Submit</button></td>
                        <td><button onclick="seeCountdown()" id="expiration-btn" type="button" value="{{g}}{{match.id}}">Time until match expires</button></td>
                        <td>
                            <p class="expTime" id="{{g}}{{ match.id }}" style="display: none"></p>
                            <input type="hidden" class="gametype" value="{{ g }}">
                            <input type="hidden" class="matchid" value="{{ match.id }}">
                        </td>
                        {% endif %}
                        {% if match.response == 1 %}
                        <td>
                            <input type="hidden" name="matchId" value="{{match.id}}">
                            <input type="hidden" name="user" value="{{match.user}}">

                            {% if match.win == 0 %}
                            <input type="radio" name="result" value="{{match.c_username}}" checked disabled>
                            <label>Win</label><br>
                            <input type="radio" name="result" value="{{match.username}}" disabled>
                            <label>Loss</label>
                            {% elif match.win == 1 %}
                            <input type="radio" name="result" value="{{match.c_username}}" disabled>
                            <label>Win</label><br>
                            <input type="radio" name="result" value="{{match.username}}" checked disabled>
                            <label>Loss</label>
                            {% else %}
                            <input type="radio" name="result" value="{{match.c_username}}" disabled>
                            <label>Win</label><br>
                            <input type="radio" name="result" value="{{match.username}}" disabled>
                            <label>Loss</label>
                            {% endif %}
                        </td>
                        <!-- <td><button type="submit" formmethod="post" style="background-color: blanchedalmond;" name="submitRecord" disabled >Submit</button></td> -->
                        {% endif %}

                    </form>

                    </tr>
                {% endfor %}

                </table>
            </div>
            <!-- ******************************************* -->
            </div>
            {% endfor%}
        </div>
        
    </div>

    <!-- <footer>
        <a href="/mainpage/">Return to Main page</a>
    </footer> -->
    
</body>
</html>