<!DOCTYPE html>
<html lang="">
    <head>
        <title> Sign - In </title>
        <!-- Bootstraps -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!--  -->
        <link rel="stylesheet" type="text/css" href="../static/styles/register.css"/>
        <script src="../static/scripts/icon.js"></script>
    </head>

    <body>
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>

        <div class = "m-4 form-group row">            
        <form action = "http://localhost:5000/register/" method = "POST">
            <div class="profile">
                <div>
                    <img src="../static/userIcon/black.png" width="20%" height="20%" id="Uicon">
                    <input type="hidden" name="Iprofile" id="Iprofile" value="black.png">
                </div>
                <div id="Ilist">
                    <button class="icons" type="button" id="black" style=" background-color: black;"> </button>
                    <button class="icons" type="button" id="Blue" style=" background-color: #0094FF;"> </button>
                    <button class="icons" type="button" id="darkBlue" style=" background-color: #0026FF;"> </button>
                    <button class="icons" type="button" id="gray" style=" background-color: #808080;"> </button>
                    <button class="icons" type="button" id="green" style=" background-color: #4cff00;"> </button>
                    <button class="icons" type="button" id="lightBlue" style=" background-color: #00FFFF;"> </button>
                    <button class="icons" type="button" id="lightGreen" style=" background-color: #B6FF00;"> </button>
                    <button class="icons" type="button" id="orange" style=" background-color: #FF6A00;"> </button>
                    <button class="icons" type="button" id="pink" style=" background-color: #FF006E;"> </button>
                    <button class="icons" type="button" id="purple" style=" background-color: #B200FF;"> </button>
                    <button class="icons" type="button" id="red" style=" background-color: red;"> </button>
                    <button class="icons" type="button" id="yellow" style=" background-color: #ffd800;"> </button>
                    
                    
                </div>
            </div>

        <div class="col-xs-2">
            <label for = "f-username"> Username: </label> 
            <input class = "form-control" type = "text" id = "username" name = "username"><br><br>
        </div>

        <div  class="col-xs-2">
            <label for = "f-name"> Name: </label> 
            <input class = "form-control" type = "text" id = "name" name = "name"><br><br>
        </div>

        <div  class="col-xs-2">
            <label for = "f-email"> Email: </label> 
            <input class = "form-control" type = "text" id = "email" name = "email"><br><br>
        </div>

        <div  class="col-xs-2">
            <label for = "f-password"> Password: </label> 
            <input class = "form-control" type = "password" id = "password" name = "password"><br><br>
        </div>

        <div  class="col-xs-2">
            <label for = "Confirm-Password"> Confirm Password: </label> 
            <input class = "form-control" type = "password" 
                id = "confirm-password" name = "confirm-password"><br><br>
        </div>

        <div  class="col-xs-2">
            <button class = "Sbutton" type="submit" formmethod="post"> Submit </button>
            
        </div>
        

        </div>
    </body>
</html>