<!DOCTYPE html>
<html lang="en">
<head>
    <title> Inbox/Sent </title>
    <script src="../static/scripts/Sadmin.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/styles/inbox.css"/>
</head>
<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{message}}
        </div>
        {% endfor %}
    </div>

    <div>
        <h1 id="title">Create a New Game Category</h1>
    </div>

    <div class = "m-4 form-group row">            
    <form action = "/admin_create_game/" method = "POST">

    <div class="col-xs-2">
        <label for = "gamename"> Game Name: </label> 
        <input class = "form-control" type = "text" id = "gamename" name = "gamename"><br>
    </div>
    <div class="col-xs-2">
        <button class="responsebtn" type="submit" formmethod="post" name="submit-btn"> Create Game Category </button>        
    </div>
    </form>
    </div>

    <!-- ALL users  -->
	<h1>All Users</h1>
	{% if Users %}
	<table class="table">
		<tbody>
			<tr>
				<th>Username</th>
				<th>Name</th>
                <th>Email</th>
                <th>Games</th>
                <th>Win</th>
                <th>Losses</th>
			</tr>
            {% for user in Users %}
            {% if user %}
			<tr>
				<td>{{ user["username"] }}</td>
				<td>{{ user["name"] }}</td>
                <td>{{ user["email"] }}</td>
                
                
            </tr>
            {% for g in user["games"] %}
            <form action = "/admin_dashboard/" method = "POST">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{g["name"]}}
                        <input type="hidden" name="Ugame" value='{{g["id"]}}'>
                        <input type="hidden" name="Uuser" value='{{user["id"]}}'>
                    </td>
                    <td>
                        <input type="number" name="Uwin" value='{{g["win"]}}'>
                    </td>
                    <td>
                        <input type="number" name="Ulosses" value='{{g["losses"]}}'>
                    </td> 
                    <td><button type="submit" formmethod="post">Submit</button></td>
                </tr>
            </form>
            {% endfor %}

            {% endif %}
			{% endfor %}
		</tbody>
	</table>

	{% else %}
	<h2>No registered users</h2>
    {% endif %}

    <!-- Games -->
    <h1>Games</h1>

	{% if Matches %}
	<table class="table">
		<tbody>
			<tr>
				<th>User 1</th>
                <th>User 2</th>
                <th>Type of Game</th>
                <th>Date Requested</th>
                <th>Status</th>
			</tr>
            {% for game in Matches.values() %}
            {% if game %}
			<tr>
                <td>{{ game[1][1] }}</td>
                <td>{{ game[1][2] }}</td>
				<td>{{ game[0] }}</td>
                <td>{{ game[1][3] }}</td>
                <td>{{ game[1][4] }}</td>
            </tr>
            {% endif %}
			{% endfor %}
		</tbody>
	</table>

	{% else %}
	<h2>No games have been set up</h2>
    {% endif %}
    

    <!--   ***************************************   -->
    <h1>Conflicted games</h1>
    <table class="table">
        {% for g in games%}
        <tr>
            <th style="text-align: center;" colspan="5">{{g}}</th>
        </tr>
        <tr>
            <th>User1</th>
            <th>User2</th>
            <th>winnerAccordingToU1</th>
            <th>winnerAccordingToU2</th>
            <th>status</th>
        </tr>
        {% for match in conflict[g] %}
        <form action = "/admin_dashboard/" method = "POST">   
            <tr>
                <input type="hidden" name="game" value="{{g}}">
                <input type="hidden" name="matchID" value="{{match.mId}}">
                <td>{{match.user1}}</td>
                <td>{{match.user2}}</td>
                <!-- <td>{{match.winnerAccordingToU1}}</td> -->
                <td>
                    <select name="winnerByUser1">
                        <option value="{{match.winnerAccordingToU1}}" selected>{{match.winnerAccordingToU1}}</option>
                        <option value="{{match.winnerAccordingToU2}}">{{match.winnerAccordingToU2}}</option>
                    </select>
                </td>

                <!-- <td>{{match.winnerAccordingToU2}}</td> -->
                <td>
                    <select name="winnerByUser2">
                        <option value="{{match.winnerAccordingToU1}}">{{match.winnerAccordingToU1}}</option>
                        <option value="{{match.winnerAccordingToU2}}" selected>{{match.winnerAccordingToU2}}</option>
                    </select>
                </td>
                <!-- <td>{{match.status}}</td> -->
                <td>
                    <select name="status">
                        <option value="{{match.status}}" selected>{{match.status}}</option>
                        <option value="Done">Done</option>
                    </select>
                </td>
                <td><button type="submit" formmethod="post">Submit</button></td>
            </tr>
        </form> 
        {% endfor %}
        <tr> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

    <!--   ***************************************   -->

	<h3><button class="returnbtn"><a href="/mainpage/">Return to Main Page</a></button></h3>
</body>
</html>