<!DOCTYPE html>
<html lang="">
    <head>
        <title> Sign - In </title>
        <link rel="stylesheet" type="text/css" href="../styles/register.css"/>
    </head>

    <body>
        <div class = "centre_screen">
            <img src = "../images/user.png" class = "resize"></img>
            <button type = "button" class = "button button3" value = "Edit">
                Edit Profile Picture
            </button>

        <div>
            <label for = "Username"> Username: </label> 
            <input class = "register_input" type = "text" id = "username" name = "username"><br><br>
        </div>

        <div>
            <label for = "Name"> Name: </label> 
            <input class = "register_input" type = "text" id = "name" name = "name"><br><br>
        </div>

        <div>
            <label for = "Email"> Email: </label> 
            <input class = "register_input" type = "text" id = "email" name = "email"><br><br>
        </div>

        <div>
            <label for = "Password"> Password: </label> 
            <input class = "register_input" type = "text" id = "password" name = "password"><br><br>
        </div>

        <div>
            <button class = "button button3" type = "button" value = "Submit"> Submit </button>
        </div>

        </div>
    </body>
</html>