<!DOCTYPE html>
<html lang="">
    <head>
        <title> Sign - In </title>
        <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    </head>

    <body>
        <div class = "Profile_image">
            <img src = " ">
            <div> 
                <button type = "Edit" value = "Edit">
                    Edit Profile Picture
                </button>
            </div>
        </div>
        <div class = "centre_screen">
        <div>
            <label for = "Username"> Username: </label> 
            <input class = "register_input" type = "text" id = "username" name = "username"><br><br>
        </div>

        <div>
            <label for = "Name"> Name: </label> 
            <input class = "register_input" type = "text" id = "name" name = "name"><br><br>
        </div>

        <div>
            <label for = "Email"> Email: </label> 
            <input class = "register_input" type = "text" id = "email" name = "email"><br><br>
        </div>

        <div>
            <label for = "Password"> Password: </label> 
            <input class = "register_input" type = "text" id = "password" name = "password"><br><br>
        </div>

        <div>
            <button class = "register_button" type = "submit" value = "Submit"> Submit </button>
        </div>

        </div>
    </body>
</html>