<!DOCTYPE html>
<html lang="">
    <head>
        <title>Sign - Up</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/register.css"/>
    </head>

    <body>

        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>

        <form action = "http://localhost:5000/signin/" method = "POST">
        <div class = "centre_screen">
            <div>
            <label for = "Username"> Username: </label> 
            <input class = "register_input" type = "text" id = "username" name = "username"><br><br>
        </div>

        <div>
            <label for = "Password"> Password: </label> 
            <input class = "register_input" type = "password" id = "password" name = "password"><br><br>
        </div>

        <button class = "button button3" type="submit" formmethod="post"> Submit </button>

        </div>
        </form>
    </body>
</html>