<!DOCTYPE html>
<html lang="">
    <head>
        <title> Match Declined </title>
        <script src = "test.js"> </script>
    </head>

    <body>
        <small>             
            {% for messages in get_flashed_messages() %}
                {{messages}}
            {% endfor %} 
        </small>

        {% for r in data %}
            <form class = "form" id = "form" method = "post" action = "/win_loss">
                    {% set id = r %}
                    <p> Id: {{ id }} </p>
                    <div>
                        <input type = "hidden" name = "id" value = "{{r}}">

                        <div>
                            <label> Win: </label>
                            <input type = "text" placeholder="0" name = "win">
                        </div>

                        <div>
                            <label> Loss: </label>
                            <input type = "text" placeholder="0" name = "loss">
                        </div>

                        <button type = "submit" formmethod="POST"> Submit </button>
                    </div>
            </form>
        {% endfor %}
    </body>
</html>