body {
    margin: 1rem;
}

h1 {
    background-color: lightsalmon;
    padding: 1rem;
}

a { 
    color: black;
}

a:hover {
    color: #24abbd;
}

h3 {
    text-align: center;
}

.returnbtn {
    padding: 0.5rem;
}

.responsebtn {
    color: black;
}

.responsebtn:hover {
    color: #24abbd;
}