/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+sans:400, 500&display=swap');

  .center {
      position:absolute;
      top:90%;
      left:90%;
      transform:translate(-50%,-50%);
    }
  
  .main_container {
      position:absolute;
      top:50%;
      left:50%;
      padding:20px 20px;
      background:#f5f5f5;
      border-radius:10px;
      box-sizing:border-box;
      z-index:2;
      text-align:center;
      opacity:0;
      top:-200%; 
      transform:translate(-50%,-50%) scale(0.5);
      transition: opacity 300ms ease-in-out,
                  top 1000ms ease-in-out,
                  transform 1000ms ease-in-out;
  }
  
  .main_container.active {
      opacity:1;
      top:50%;
      transform:translate(-50%,-50%) scale(1);
      transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  
  .modal_header {
      background-color: #f7f7f7;
      border-bottom: 10px solid #f0f0f0;
      padding: 20px 40px;
  }
  
  .modal_header h2 {
      margin: 0;
      color: black;
      font-family: 'Nunito', sans-serif;
  }
  
  .form {
      padding: 20px 40px;
  }
  
.cancel {
    padding: 20px 40px;
}

.cancel button{
  background-color: #24abbd;
  border: 2px solid #24abbd;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.submit {
    padding: 20px 40px;
}

.submit button{
  background-color: #24abbd;
  border: 2px solid #24abbd;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form button{
    background-color: #24abbd;
    border: 2px solid #24abbd;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
  
.main_container .dismiss-btn {
    margin-top:15px;
}

.main_container .dismiss-btn button {
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    display: block;
    font-family: 'Nunito', sans-serif;
}

.main_container .dismiss-btn button:hover {
    color:#111;
    background:#f5f5f5;
}

.main_container .submit-btn button {
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    display: block;
    font-family: 'Nunito', sans-serif;
}

.main_container .submit-btn button:hover {
    color:#111;
    background:#f5f5f5;
}

.main_container > div {
    position:relative;
    top:10px;
    opacity:0;
}
.main_container.active > div {
    top:0px;
    opacity:1;
}

.main_container.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}

.edit-btn{
    padding:15px 15px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    display: block;
    font-family: 'Nunito', sans-serif;
}
  
.edit-btn:hover {
      color:#111;
      background:#f5f5f5;
  }

/*==== edit wins and losses =====*/
.num_container {
    position:absolute;
    top:50%;
    left:50%;
    padding:20px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0;
    top:-200%; 
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}

.num_container.active {
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.num_header {
    background-color: #f7f7f7;
    border-bottom: 10px solid #f0f0f0;
    padding: 20px 40px;
}

.num_header h2 {
    margin: 0;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.form {
    padding: 20px 40px;
}

.cancel {
  padding: 20px 40px;
}

.cancel button{
background-color: #24abbd;
border: 2px solid #24abbd;
color: #fff;
display: block;
font-family: inherit;
font-size: 16px;
padding: 10px;
width: 100%;
}
.submit {
  padding: 20px 40px;
}

.submit button{
background-color: #24abbd;
border: 2px solid #24abbd;
color: #fff;
display: block;
font-family: inherit;
font-size: 16px;
padding: 10px;
width: 100%;
}

.form button{
  background-color: #24abbd;
  border: 2px solid #24abbd;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

/*==== Delete Button =====*/
.num_container .dismiss-btn {
  margin-top:15px;
}

.num_container .dismiss-btn button {
  padding:10px 100px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  display: block;
  font-family: 'Nunito', sans-serif;
}

.num_container .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;
}

.num_container .submit-btn button {
  padding:10px 100px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  display: block;
  font-family: 'Nunito', sans-serif;
}

.num_container .submit-btn button:hover {
  color:#111;
  background:#f5f5f5;
}

.num_container > div {
  position:relative;
  top:10px;
  opacity:0;
}
.num_container.active > div {
  top:0px;
  opacity:1;
}

.num_container.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}

.edit-btn{
  padding:15px 15px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  display: block;
  font-family: 'Nunito', sans-serif;
  margin-top: 50px;
  margin-right: 60px;
}

.edit-btn:hover {
    color:#111;
    background:#f5f5f5;
}

/*====== win and loss incrementer =====*/
.num_track_container{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.num_track_container label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main_track_container input{
    width: 40px;
    font-size: 20px;
    margin: 0 10px!important;
    padding: 10px;
    border: none;
    outline: none;
}

.main_track_container input:hover{
    background: #c9c0a6;
    color: #fff;
}


.num_track_container button{
    background-color: rgb(145, 155, 149);   
    width: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
}

.num_track_container button:hover{
    background: #242424;
    color: #fff;
}

.num_container input{
    width: 40px;
    font-size: 20px;
    margin: 0 10px!important;
    padding: 10px;
    border: none;
    outline: none;
}

.num_container input:hover{
    background: #c9c0a6;
    color: #fff;
}