body{
    color: black;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: lightgray;
}

.profile{
    background-color: #24abbd;
    text-align: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#username{
    display: block;
}

.generalInfo{
    padding-left: 10%;
    text-align: left;
}

.generalInfo > h3{
    padding-left: 15%;
    text-decoration: wavy;
}

button{
    font-size: large;
    background-color: lightsalmon;
    color: black;
}

.record{
    padding-left: 30%;
}
#recordTable{
    display: none; 
    background-color:darkgray;
    width: 23%; 
    overflow: auto;
    border: 1px solid black;
}
th{
    text-align: bottom;
    vertical-align: bottom;
    margin-bottom: 0%;
    border-top: 1px solid black;
}
td{
    margin-top: 0%;
}


footer{
    text-align: right;
}

