
body {
    background-color: lightgray;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
}

.icons{
    border-radius: 50%;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
}

button {
    background-color: lightsalmon;
    text-align: center;
}

.Sbutton{
    font-size: larger;
}

img.resize{
    width:200px;
    height:200px;
}
