body{
    color: black;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: lightgray;
}

.profile{
    background-color: #24abbd;
    text-align: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#username{
    display: block;
}

.generalInfo{
    padding-left: 10%;
    text-align: left;
}

.generalInfo > h3{
    padding-left: 15%;
    text-decoration: wavy;
}

button{
    font-size: large;
    background-color: lightsalmon;
    color: black;
}

.record{
    padding-left: 30%;
}


footer{
    text-align: right;
}

